@keyframes glow {
  from {
    /* box-shadow: 0 0 2px -5px #aff1b0; */
    box-shadow: 0 0 2px -5px rgba(235, 248, 236, 0.5);
  }
  to {
    box-shadow: 0 0 2px 5px rgba(212, 240, 214, 0.2);
  }
}

@keyframes clockwiseSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes antiClockwiseSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#logo-space {
  //   animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: clockwiseSpin;
  animation-timing-function: linear;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: rgb(0, 255, 13);
  box-shadow: inset 0 0 50px rgb(70, 218, 2),
    inset 20px 0 80px rgb(125, 185, 97), inset -20px 0 80px #0ff,
    inset 20px 0 300px rgb(138, 235, 93), inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px rgb(70, 218, 2), 10px 0 80px #0ff;
  border-radius: 50%;
  display: inline;
  margin-top: 5px;
  float: left;
  animation: glow 1s infinite alternate;
}

#wallet-connection-heading {
  top: 5;
  position: relative;
  float: left !important;
  /* border: 1px solid red; */
  margin-right: 7px;
  font-size: 14px;
  font-weight: 200;
}

.icon-custom {
  color: #f3ba2c;
  font-size: 24px;
}

#daily-rate,
#daily-compound,
#ref-bonus,
#lotteries {
  margin: 0px 5px;
  font-size: 2vmin;
  font-weight: 200;
  font-family: "Kanit" !important;
}

.start-btn {
  text-align: center;
  display: inline-block;
  /* margin-top: 30px!important; */
  margin: 5px;
  font-family: "Press Start 2p";
  font-weight: 300;
  font-size: 1rem;
  padding: 10px 50px 10px 50px;
  background-color: var(--token);
  text-shadow: -1px -1px black, 1px 1px rgb(61, 61, 61);
  color: rgb(255, 255, 255);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em #white;
  cursor: pointer;
  border: none;
}

hr {
  color: var(--lines);
  height: 1px;
  opacity: 1;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

@media only screen and (max-width: 600px) {
  .start-btn {
    font-size: 12px !important;
  }
}
.justify-content-center {
  justify-content: space-around !important;
}
